.viminfo
.zhistory
.zsh_history
.vim/docs
.zsh-update
.config/nvim/plugged
.config/nvim/autoload/plugged
scripts/.*.sh
scripts/vpn*

# emacs
.emacs.d/auto-save-list
.emacs.d/backups
.emacs.d/bookmarks
.emacs.d/elpa
.emacs.d/eshell
.emacs.d/plugins
.emacs.d/themes
.emacs.d/var
.emacs.d/ac-comphist.dat
.emacs.d/ido.last
.emacs.d/places
.emacs.d/#*
.emacs.d/*~
.emacs.d/projectile-bookmarks.eld
.emacs.d/places
.emacs.d/smex-items

installs/*log
